{% extends 'cataps/base.html' %}

{% load static %}

{% block page_content %}
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <ul class="list-unstyled">
                <li><label for="formGroupExampleInput">Enter your tree</label></li>
            <li>{{ msg }}</li>
            {% for field in form %}
            <li>{{ field }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="text-left">
        <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>


{% endblock %}
